@font-face {
    font-family: Gilroy;
    src: url(./Gilroy-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: Gilroy;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(155, 184, 155);
}

#panel {
    overflow: hidden;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background-color: #fff;
}

#ptop {
    width: 100%;
    height: 100px;
    background-color: rgb(72, 104, 72);
}